@import url(https://fonts.googleapis.com/css?family=Raleway:900);

#god{
	padding: 1%;
}

.slices{
	width: 100%;
	height: 100vh;
	margin-top: 1%;
}

#home{
	background: #1d1f21;

}

#apresentacao{
	height: 100%;
	width: 100%;
	position: absolute;
	display: block;

}

#name{
	font-size: 4em;
	color: white;
}

#cargo{
	font-size: 3vw;
	color: white;	
}

#foto-home{
	
}

#sobre{
	background-color: #cdcdcd;
}

#carreira{
	background-color: blue;
}

#portfolio{
	background-color: green;
}

#contato{
	background-color: grey;
}

#sobre #sobre-maior p{
	color: red;
}

#sobre #sobre-menor p{
	color: blue;
}

#sobre #sobre-graficos p{
	color: white;
}



h3 {
  font-family: Raleway;
  text-align: center;
  font-size: 40px;
  color: #363836;
}

.oo {
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background-color: #363836;
}

.ball-academico {
  height: 30px;
  width: 30px;
  border-radius: 40px;
  background-color: #fefefe;
  margin: 6px;
  -webkit-animation: switch 2s infinite alternate;
  -moz-animation: switch 2s infinite alternate;
  -o-animation: switch 2s infinite alternate;
}

.ball-profissional {
  height: 30px;
  width: 30px;
  border-radius: 40px;
  background-color: #fefefe;
  margin-top: 6px;
  margin-left: 65px;
  -webkit-animation: switch 2s infinite alternate;
  -moz-animation: switch 2s infinite alternate;
  -o-animation: switch 2s infinite alternate;
}